name: YC create VM and deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Load .env.yc
        shell: bash
        run: |
          set -euo pipefail
          # поддержим оба формата: с export и без
          sed -E 's/^\s*export\s+//' .env.yc | grep -vE '^\s*#' | grep -vE '^\s*$' >> "$GITHUB_ENV"

      - name: Install yc cli
        uses: okar1/yc-cli-install@master
        with:
          SA_KEY: ${{ secrets.YC_SA_KEY_JSON }}

      - name: Prepare SSH keys files
        shell: bash
        run: |
          set -euo pipefail
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/cloudlink_rsa
          echo "${{ secrets.SSH_PUBLIC_KEY }}"  > ~/.ssh/cloudlink_rsa.pub
          chmod 600 ~/.ssh/cloudlink_rsa
          chmod 644 ~/.ssh/cloudlink_rsa.pub

          echo "SSH_PRIVATE_KEY=$HOME/.ssh/cloudlink_rsa" >> "$GITHUB_ENV"
          echo "SSH_PUBLIC_KEY=$HOME/.ssh/cloudlink_rsa.pub" >> "$GITHUB_ENV"

      - name: Install deps for run.sh
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Ensure scripts executable
        run: chmod +x scripts/prepare.sh scripts/run.sh scripts/tests.sh

      - name: Build Docker image (prepare.sh)
        run: ./scripts/prepare.sh

      - name: Create VM + deploy (run.sh)
        shell: bash
        run: |
          set -euo pipefail
          IP="$(./scripts/run.sh | tail -n 1)"
          echo "VM_IP=$IP" >> "$GITHUB_ENV"
          echo "VM IP: $IP"

      - name: Run API tests on VM
        shell: bash
        run: |
          set -euo pipefail
          export BASE_URL="http://${VM_IP}:8080"
          ./scripts/tests.sh

      - name: Result
        run: echo "Deployed to http://${VM_IP}:8080"
