name: YC create VM and deploy

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Load .env.yc
        run: |
          grep -vE '^\s*#' .env.yc | grep -vE '^\s*$' >> "$GITHUB_ENV"

      - name: Install yc cli
        uses: okar1/yc-cli-install@master
        with:
          SA_KEY: ${{ secrets.YC_SA_KEY_JSON }}

      - name: Prepare SSH keys
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          echo "${{ secrets.SSH_PUBLIC_KEY }}" > ~/.ssh/id_ed25519.pub
          chmod 600 ~/.ssh/id_ed25519
          chmod 644 ~/.ssh/id_ed25519.pub

      - name: Install deps
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Build Docker image
        run: ./scripts/prepare.sh

      - name: Create VM and deploy
        id: deploy
        run: |
          export SSH_PRIVATE_KEY="$HOME/.ssh/id_ed25519"
          export SSH_PUBLIC_KEY="$HOME/.ssh/id_ed25519.pub"

          IP="$(./scripts/run.sh | tail -n 1)"
          echo "VM_IP=$IP" >> $GITHUB_ENV
          echo "VM_IP=$IP"

      - name: Run API tests on VM
        run: |
          export BASE_URL="http://${VM_IP}:8080"
          ./scripts/tests.sh

      - name: Result
        run: echo "Service deployed to http://${VM_IP}:8080"
